# Groq API Key
GROQ_API_KEY=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

# Email Configuration (Gmail)
EMAIL_USER=ajoon7306@gmail.com
EMAIL_PASS=uyie wkno wgbx ygug

# Server Configuration
PORT=5000
